.grid-container {
    display: grid;
    grid-template-columns: 5em 5em 5em 5em;
    grid-template-rows: 5em 5em 5em 5em;
    /* grid: 4em / auto auto auto auto; */
    gap: 0.5em;
}

.question {
    display: inline-grid;
    /* justify-content: stretch; */
    background: var(--main-color)
}

.question:hover {
    background-color: var(--link-color);
    color: var(--main-color);
}

.label {
    display: block;
    position: absolute;
    min-width: 5em;
    min-height: 5em;
    text-align: center;
    color: var(--link-color);
}

.label:hover {
    color: var(--main-color);
    background-color: var(--link-color);
}

.answer {
    background: var(--link-color);
}

.hidden {
    visibility: hidden;
}
