.idea/
*.iml
*.iws
*.eml
out/b
.DS_Store
.svn
log/*.log
*.log
tmp/**
node_modules/
.sass-cache
dist/*.map
!node_modules/reveal-multiplex/
!node_modules/reveal-notes-server/
!node_modules/reveal.js-menu/
