<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>My Sample Presentation</title>

        <link rel="stylesheet" href="../../dist/reset.css">
        <link rel="stylesheet" href="../../dist/reveal.css">
        <link rel="stylesheet" href="../../dist/theme/black.css" id="theme">

        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="../../plugin/highlight/monokai.css" id="highlight-theme">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
                    <section > <!-- New subsection -->
                        <h2> Slide 1 </h2>
                        <p> This is sample text on slide 1 </p>
                    </section> <!-- End subsection -->
                    <section> <!-- New subsection -->
                        <h2> Slide 1.1 </h2>
                    </section> <!-- End subsection -->
                </section> <!-- End slide -->
                <section>Slide 2</section>
			</div>
		</div>

        <script src="../../dist/reveal.js"></script>
        <script src="../../plugin/notes/notes.js"></script>
        <script src="../../plugin/markdown/markdown.js"></script>
        <script src="../../plugin/highlight/highlight.js"></script>
        <script src="../../plugin/math/math.js"></script>
        <script src="../../plugin/search/search.js"></script>


		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
                // For Latex math
                math: {
                  mathjax: '../../node_modules/mathjax/MathJax.js',
                  config: 'TeX-AMS_HTML-full', // See http://docs.mathjax.org/en/latest/config-files.html
                  // pass other options into `MathJax.Hub.Config()`
                  TeX: { Macros: { RR: "{\\bf R}" } }
                },

                plugins: [
                      RevealMath,
                      RevealMarkdown,
                      RevealNotes,
                      RevealHighlight,
                      RevealSearch,
                ],
				dependencies: [
				]
			});
		</script>
	</body>
</html>
