<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Test CSS Formatting</title>

        <link rel="stylesheet" href="../../dist/reset.css">
        <link rel="stylesheet" href="../../dist/reveal.css">
        
        <link rel="stylesheet" href="../../plugin/spreadsheet/spreadsheet.css">
        <link rel="stylesheet" href="../../dist/theme/dynamic_white_black.css" id="theme">
        <link rel="stylesheet" href="../../dist/theme/overrides.css">
            
        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="../../plugin/highlight/gruvbox.css" id="highlight-theme">

	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
                    <section data-menu-title="TEXT FORMATTING">
                        <center>Text Formatting</center>
                    </section>
                    <section data-menu-title="Headings" > <!-- New subsection -->
                        <h1> Heading 1 </h1>
                        <h2> Heading 2 </h2>
                        <h3> Heading 3 </h3>
                        <h4> Heading 4 </h4>
                        <h5> Heading 5 </h5>
                        <h6> Heading 6 </h6>
                        <p> This is paragraph text on slide 1 </p>
                    </section> <!-- End subsection -->
                    <section data-menu-title="Lists"> <!-- New subsection -->
                        <div style="width: 100%">
                            <dl>
                                <dt>Term</dt>
                                <dd>Definition Definition Definition Definition Definition</dd>
                                <dt>Term 2</dt>
                                <dd>Definition Definition Definition Definition</dd>
                            </dl>
                        </div>
                        <br/>
                        <div style="width: 45%; float:left">
                            <ol>
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <ol>
                                    <li>Sub item</li>
                                    <ol>
                                        <li>Sub sub item</li>
                                    </ol>
                                </ol>
                            </ol>
                        </div>
                        <div style="width: 45%; float:right">
                            <ul>
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <ul>
                                    <li>Sub item</li>
                                    <ul>
                                        <li>Sub sub item</li>
                                    </ul>
                                </ul>
                            </ul>
                        </div>
                    </section> <!-- End subsection -->
                    <section data-menu-title="Spreadsheet">
                        Interactive spreadsheet
                        <div class="spreadsheet" data-rows="9" data-cols="3">
                        , mass (g), deviation
                        , 2.43,
                        , 2.54,
                        , 2.49,
                        , 'Error &rightarrow;','=error'
                        , ,
                        Mean, '=AVERAGE(B1:B6)' , '&leftarrow; Result'
                        St. Dev, ,
                        SDOM , ,
                        </div>
                        Adjust the numbers or enter formulas in the above table.
                    </section>
                    <section data-menu-title="Tables">
                        <table class="simple-table" style="width:45%; float:left">
                            <caption>Simple Table</caption>
                            <thead>
                                <tr>
                                    <th class="simple-table">Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Body 1</th>
                                    <th>Body 2</th>
                                </tr>
                                <tr>
                                    <th>$\vec{v} = \frac{\text d \vec{x}}{\text d t}$</th>
                                    <th>$\vec{\omega} = \frac{\text d \vec{\theta}}{\text d t}$</th>
                                </tr>
                                <tr>
                                    <th>$\vec{a} = \frac{\text d \vec{v}}{\text d t}$</th>
                                    <th>$\vec{\alpha} = \frac{\text d \vec{\omega}}{\text d t}$</th>
                                </tr>
                                <tr>
                            </tbody>
                            <tfoot>
                                    <th>Footer</th>
                                    <th>$\Sigma_i^n x$</th>
                                </tr>
                            </tfoot>
                        </table>
                        <table style="width:45%; float:right">
                            <caption>Normal Table</caption>
                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Body 1</th>
                                    <th>Body 2</th>
                                </tr>
                                <tr>
                                    <th>$\vec{v} = \frac{\text d \vec{x}}{\text d t}$</th>
                                    <th>$\vec{\omega} = \frac{\text d \vec{\theta}}{\text d t}$</th>
                                </tr>
                                <tr>
                                    <th>$\vec{a} = \frac{\text d \vec{v}}{\text d t}$</th>
                                    <th>$\vec{\alpha} = \frac{\text d \vec{\omega}}{\text d t}$</th>
                                </tr>
                                <tr>
                            </tbody>
                            <tfoot>
                                    <th>Footer</th>
                                    <th>$\Sigma_i^n x$</th>
                                </tr>
                            </tfoot>
                        </table>
                    </section>
                    <section data-menu-title="Paragraphs">
                        <h3>Sample slide with content</h3>
                        <p>This is long sample text. This is a run-on sentence to generate line breaks and see how word wrap is handled. It is also used to see the line spacing in a long paragraph</p>
                        <p>Here is another paragraph so that the line spacing between paragraphs can be visualized.</p>
                    </section>
                </section> <!-- End slide -->
                <section>
                    <section data-menu-title="COLOR FORMATTING">
                        <center>Color Formatting</center>
                    </section>
                    <section data-menu-title="Color overrides">
                        <div style="font-size:0.8em">
                            <div>
                                <code>Default:</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-plain">
                                <code style="white-space:pre">Plain  :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-solar">
                                <code style="white-space:pre">Solar  :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-gray">
                                <code style="white-space:pre">Gray   :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-red">
                                <code style="white-space:pre">Red    :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-orange">
                                <code style="white-space:pre">Orange :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-gold">
                                <code style="white-space:pre">Gold   :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-green">
                                <code style="white-space:pre">Green  :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-blue">
                                <code style="white-space:pre">Blue   :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                            <div class="my-purple">
                                <code style="white-space:pre">Purple :</code>
                                <strong>Strong</strong> <em>Emph</em>
                                <svg width="35" height="30">
                                    <text x="0" y="15" style="font-size:0.35em">stroke=</text>
                                    <text x="0" y="28" style="font-size:0.35em">fill=</text>
                                </svg>
                                <svg width="50" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill=""/>
                                    <text x="30" y="15" style="font-size:0.4em">""</text>
                                    <text x="30" y="28" style="font-size:0.4em">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill=""/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="">""</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="" fill="currentcolor">""</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="" fill="currentcolor">"currentcolor"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="currentcolor" fill="none"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="currentcolor" fill="none">"currentcolor"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="currentcolor" fill="none">"none"</text>
                                </svg>
                                <svg width="100" height="30">
                                    <circle cx="15" cy="15" r="13" stroke="none" fill="currentcolor"/>
                                    <text x="30" y="15" style="font-size:0.35em" stroke="none" fill="currentcolor">"none"</text>
                                    <text x="30" y="28" style="font-size:0.35em" stroke="none" fill="currentcolor">"currentcolor"</text>
                                </svg>
                            </div>
                        </div>
                    </section>
                    <section data-menu-title="Highlighting">
                        <div style="font-size:0.8em">
                            <div>
                                <code>Default:</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-plain">
                                <code style="white-space:pre">Plain  :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-solar">
                                <code style="white-space:pre">Solar  :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-gray">
                                <code style="white-space:pre">Gray   :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-red">
                                <code style="white-space:pre">Red    :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-orange">
                                <code style="white-space:pre">Orange :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-gold">
                                <code style="white-space:pre">Gold   :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-green">
                                <code style="white-space:pre">Green  :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-blue">
                                <code style="white-space:pre">Blue   :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                            <div class="my-purple">
                                <code style="white-space:pre">Purple :</code>
                                <strong><mark>Str</mark>ong</strong>
                                <em><mark>Em</mark>ph</em>
                                <u><mark>Under</mark>line</u>
                                <ins>ins</ins>
                                <del>del</del>
                                <a href="">link</a>
                                Normal Text
                            </div>
                        </div>
                    </section>
                </section>
                <section>
                    <section data-menu-title="CODE FORMATTING">
                        <center>Code Formatting</center>
                    </section>
                    <section data-menu-title="js / css">
                        <pre><code data-trim data-noescape class="language-js">
                                /* js exerpt */
                                
                                import Controls from './controllers/controls.js'
                                
                                // Remember which directions that the user has navigated towards
                                navigationHistory = {
                                    hasNavigatedHorizontally: false,
                                    hasNavigatedVertically: false
                                },
                        </code></pre>
                        <pre><code data-trim data-noescape class="language-css">
                                /* css exerpt */
                                
                                :root {
                                --background-color: #fff; }
                                
                                @media (prefers-color-scheme: dark){
                                .reveal h1 {
                                    color: #fff; }
                                }
                        </code></pre>
                    </section>
                    <section data-menu-title="HTML">
                        <pre><code data-trim data-noescape class="language-html">
                                &lt;!-- html exerpt --&gt;
                                
                                &lt;html&gt;
                                    &lt;head&gt;
                                        &lt;meta charset="utf-8"&gt;
                                        &lt;title&gt;Test CSS Formatting&lt;/title&gt;
                                    &lt;/head&gt;
                                    &lt;body&gt;
                                        &lt;div class="reveal"&gt;
                                            &lt;div class="slides"&gt;
                                                &lt;section&gt;
                                                Be sure to escape &lt; and &gt; with &amp;lt; and &amp;gt;
                                                &lt;/section&gt;
                                    &lt;/body&gt;
                                &lt;/html&gt;
                        </code></pre>
                        </section>
                        <section data-menu-title="Markdown">
                            <pre><code data-trim data-noescape class="language-markdown">
                                > markdown exerpt
                                
                                you can write text [with links](http://example.com) inline or [link references][1].

                                * one _thing_ has *em*phasis
                                * two __things__ are **bold**

                                [1]: http://example.com

                                ---

                                hello world
                                ===========

                                <this_is inline="xml"></this_is>

                                > markdown is so cool

                                    so are code segments

                            </code></pre>
                        </section>
                        <section data-menu-title="Latex">
                            <pre><code data-trim data-noescape class="language-latex">
                                % LaTex exerpt
                                
                                \documentclass{article}
                                \usepackage[koi8-r]{inputenc}
                                \hoffset=0pt
                                \voffset=.3em
                                \tolerance=400
                                \newcommand{\eTiX}{\TeX}
                                \begin{document}
                                \section*{Highlight.js}
                                \begin{table}[c|c]
                                $\frac 12\, + \, \frac 1{x^3}\text{Hello \! world}$ & \textbf{Goodbye\~ world} \\\eTiX $ \pi=400 $
                                \end{table}
                                Ch\'erie, \c{c}a ne me pla\^\i t pas! % comment \b
                                G\"otterd\"ammerung~45\%=34.
                                $$
                                    \int\limits_{0}^{\pi}\frac{4}{x-7}=3
                                $$
                                \end{document}
                            </code></pre>
                        </section>
                        <section data-menu-title="Python">
                            <pre><code data-trim data-noescape class="language-python">
                                # Python exerpt
                                
                                @requires_authorization
                                def somefunc(param1='', param2=0):
                                    r'''A docstring'''
                                    if param1 > param2: # interesting
                                        print 'Gre\'ater'
                                    return (param2 - param1 + 1 + 0b10l) or None

                                class SomeClass:
                                    pass

                                >>> message = '''interpreter
                                ... prompt'''
                            </code></pre>
                        </section>
                        <section data-menu-title="Bash">
                            <pre><code data-trim data-noescape class="language-bash">
                                #!/bin/bash

                                ###### CONFIG
                                ACCEPTED_HOSTS="/root/.hag_accepted.conf"
                                BE_VERBOSE=false

                                if [ "$UID" -ne 0 ]
                                then
                                 echo "Superuser rights required"
                                 exit 2
                                fi

                                genApacheConf(){
                                 echo -e "# Host ${HOME_DIR}$1/$2 :"
                                }

                                echo '"quoted"' | tr -d \" > text.txt
                            </code></pre>
                        </section>
                        <section data-menu-title="Shell">
                            <pre><code data-trim data-noescape class="language-shell">
                                $ echo $EDITOR
                                vim
                                $ git checkout master
                                Switched to branch 'master'
                                Your branch is up-to-date with 'origin/master'.
                                $ git push
                                Everything up-to-date
                                $ echo 'All
                                > done!'
                                All
                                done!
                            </code></pre>
                        </section>
                    </section>
                </section>
                <section>
                    <section data-menu-title="PLUGIN FORMATTING">
                        <center>Plugin Operation</center>
                    </section>
                    <section data-menu-title="Skip Fragments">
                        <p class="fragment">This is a first fragment</p>
                        <p class="fragment" style="color: var(--link-color)">This is a second fragment with color: var(--link-color)</p>
                    </section>
                </section>
                <section data-menu-title="Sample Slides">
                    <center>Sample Slides</center>
                </section>
                <section data-menu-title="1601 Lab 5">
                    <h2>1601 Lab 5 </h2>
                    Online textbook: <a>bookshelf.vitalsource.com</a>
                    <br/><br/>
                    iOLab for Scientists and Engineers<br/>
                    &emsp;Lab 4: Friction
                    <br/><br/>
                    You will need:<br/>
                    <ul>
                        <li>IOLab device (+felt pads)</li>
                        <li>USB-A connection</li>
                        <li>Smooth table</li>
                    </ul>
                </section>
                <section data-menu-title="Leftover comments Parent">
                    <h3>Leftover comments from Lab 6</h3>
                    <section data-menu-title="Leftover comments">
                            <text style="font-size:0.8em">Total Error = (least count) + (random variability) + (systematic)</text>
                            <p data-di="box2">Here is a long block of text</p>
                    </section>
                    <section>
                            <text style="font-size:0.8em">Total Error = (least count) + (random variability) + (systematic)</text>
                            <p data-id="box2">Here is a long block of new text</p>
                    </section>
                </section>
                <section>
                    <h3> Lab 3: Lenses</h3>
                    <section data-transition="slide-in fade-out" data-menu-title="Lens"> <!-- New subsection -->
                        <center>
                            <img class="plain" src="../1502/images/lens_build1.svg" width="70%" />
                        </center>
                    </section> <!-- End subsection -->
                    <section data-transition="fade-in fade-out"> <!-- New subsection -->
                        <center>
                            <img class="plain" src="../1502/images/lens_build2.svg" width="70%" />
                        </center>
                    </section> <!-- End subsection -->
                    <section data-transition="fade-in fade-out"> <!-- New subsection -->
                        <center>
                            <img class="plain" src="../1502/images/lens_build3.svg" width="70%" />
                        </center>
                    </section> <!-- End subsection -->
                    <section data-transition="fade-in fade-out"> <!-- New subsection -->
                        <center>
                            <img class="plain" src="../1502/images/lens_build4.svg" width="70%" />
                        </center>
                    </section> <!-- End subsection -->
                    <section data-transition="fade-in fade-out"> <!-- New subsection -->
                        <center>
                            <img class="plain" src="../1502/images/lens_build5.svg" width="70%" />
                        </center>
                    </section> <!-- End subsection -->
                    <section data-transition="fade-in fade-out"> <!-- New subsection -->
                            <figure style="float: left; width: 40%">
                                <img class="plain" src="../1502/images/lens_build6.svg" width="100%"/>
                            </figure>
                            <div style="width: 55%; float: right">
                                <dl>
                                    <dt>Focal point:</dt>
                                    <dl>
                                        <dt>Converging Lens</dt>
                                            <dd>Soonest point rays converge</dd>
                                    </dl>
                                    <div  style="padding: 10px; margin: 0.3em;"><mark>Measured from center of lens!</mark></div>
                                    <dl>
                                        <dt>Diverging Lens</dt>
                                            <dd>Apparent source point</dd>
                                    </dl>
                                </dl>
                            <div>
                    </section> <!-- End subsection -->
                    <section data-transition="fade-in fade-out"> <!-- New subsection -->
                            <figure style="float: left; width: 40%">
                                <img class="plain" src="../1502/images/lens_build6.svg" width="100%"/>
                            </figure>
                            <div style="width: 55%; float: right">
                                Other Notes:
                                <ul>
                                    <li>Focal point assumes light is coming in parallel <br/>(i.e. $p = \infty$)</li>
                                    <li>Thin lens approximation:
                                    <br/>[width of lens] $\ll f $</li>
                                </ul>
                            <div>
                </section>
            </div>
		</div>

        <script src="../../dist/reveal.js"></script>
        <script src="../../plugin/notes/notes.js"></script>
        <script src="../../plugin/markdown/markdown.js"></script>
        <script src="../../plugin/highlight/highlight.js"></script>
        <script src="../../plugin/math/math.js"></script>
        <script src="../../plugin/search/search.js"></script>
        <script src="../../node_modules/reveal.js-menu/menu.js"></script>
        <script src="../../plugin/spreadsheet/ruleJS.all.full.min.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
                slideNumber: true,
                // For synchronization b/w master/client
                multiplex: {
                    // Example values. To generate your own, see the socket.io server instructions.
                    secret: '15970205758604717501', // null so the clients do not have control of the master presentation
                    id: 'd3545686f74752c0', // id, obtained from socket.io server
                    url: 'http://10.0.0.136:1948' // Location of socket.io server
                },
                // For Latex math
                math: {
                  mathjax: '../../node_modules/mathjax/MathJax.js',
                  config: 'TeX-AMS_HTML-full', // See http://docs.mathjax.org/en/latest/config-files.html
                  // pass other options into `MathJax.Hub.Config()`
                  TeX: { Macros: { RR: "{\\bf R}" } }
                },
                // Slide out menu changes (press `m`)
                menu: {
                  numbers: true,
                  useTextContentForMissingTitles: true,
                  hideMissingTitles: true,
                  openButton: false,
                  openSlideNumber: true,
                  themes:
                   [
                    {
                        name: 'Auto',
                        theme: '../../dist/theme/dynamic_white_black.css',
                        highlightTheme: '../../plugin/highlight/gruvbox.css'
                    },
                    {
                        name: 'White',
                        theme: '../../dist/theme/presentation_white.css',
                        highlightTheme: '../../plugin/highlight/gruvbox-light.css'
                    },
                    {
                         name: 'Black',
                         theme: '../../dist/theme/presentation_black.css',
                         highlightTheme: '../../plugin/highlight/gruvbox-dark.css'
                    },
                    {
                         name: 'Night',
                         theme: '../../dist/theme/night.css',
                         highlightTheme: '../../plugin/highlight/gruvbox-dark.css'
                    },
                   ],

                    custom: [
                      {
                        title: 'Info',
                        icon: '<i class="fa fa-info">',
                        src: 'menu/index_info.html'
                      },
                    ]
                },

                plugins: [
                      RevealMath,
                      RevealMarkdown,
                      RevealNotes,
                      RevealHighlight,
                      RevealSearch,
                      RevealMenu,
                ],
				dependencies: [
//                    { src: '../../node_modules/socket.io-client/dist/socket.io.js', async: true },
//                    { src: '../../node_modules/reveal-multiplex/master.js', async: true },
//                    { src: '../../node_modules/reveal-multiplex/client.js', async: true },
//                    { src: '../../lib/js/clock.js', async: true},
                    { src: '../../plugin/spreadsheet/spreadsheet.js' },
                    { src: '../../plugin/skip-fragments/skip-fragments.js' },
                    // For inserting external .html reveal slides/conent
                    {
                        src: '../../plugin/external/external.js',
                        condition: function() {
                           return !!document.querySelector( '[data-external],[data-external-replace]' );
                        }
                    },
                   { src: '../../plugin/jump/jump.js', async: true }, // Jump navigation
                   { src: '../../plugin/screenfull/screenfull.min.js' }, // Fullscreen API
				]
			});
		</script>
	</body>
</html>
